
<h1>Campaign Analysis</h1>
<div width="500px" style="background-color:none;">
<table  width="500px">
<tr style="background-color:none;">
      <td width="250px">Increase in &nbsp; <select name="trend" ng-model="trend.value">
      <option value="option-1">Net Revenue</option>
      <option value="option-2">Net Balance</option>
	  <option value="option-2">Total Value</option>
      </select> <text  style=" font-weight: bold; font-size: 40px;color: green"> 10,250 </text></td>

      <td width="140px">&nbsp;</td>
	  <td width="100px">Recurring Series Analysis</td>
</tr>
</table>
<table width="500px">
<tr style="background-color:none;">
      <td width="200px">Increase Per Customer : <text  style=" font-weight: bold; font-size: 10px;color: green"> $45.20 </text></td>
	  <td width="200px">Target Group : <text  style=" font-weight: bold;">5786</text></td>
	  <td width="100px"></td> 
</tr>
</table>
<table width="500px">

<tr style="background-color:none;">
		<td width="200px">Started On:<text  style=" font-weight: bold;"> 09-16-2016  </text></td>
		<td width="200px">Marketing Action : <text  style=" font-weight: bold;"> FreeMoney 700CZK 10xTurnover 3x14 </text></td>
		<td width="100px"></td> 
</tr>
</table>
<table width="500px">
<tr style="background-color:none;">
		<td width="200px">Analyzed On: <text  style=" font-weight: bold;">13/07/2016 </text></td>
		<td width="200px">Channel(s) : <text  style=" font-weight: bold;">Email </text></td>
		<td width="100px"></td>
</tr>
</table>
<table width="500px">
<tr style="background-color:none;">
		<td width="200px">View/Edit Remarks</td>
		<td width="200px"></td>
		<td width="100px"></td> 
</tr>

</table>
</div>
<div>&nbsp; </div>
<div>
<table width="500px" border=1 >
<tr> 
<td width="50px" height="20px"> <img src="bulb2.jpg" /> </td>
<td width="300px"> Discover granular sub-groups </td>
<td width="150px"> <button style="cursor:pointer;" type="submit" ng-click="discover()" >Discover</button></td>
</tr>

</table>
</div>
<div>&nbsp; </div>
<div>&nbsp; </div>


<div style="width: 100%; overflow: hidden;">
    <div style="width: 500px; float: left;">
	   	
	<table border=0>
		<tr><td >&nbsp;</td><td width="50px">Test</td><td width="40px">Control</td></tr>
	</table>
	<table border=1>
		<tr> <td> Group Size </td><td>171</td><td>42</td> </tr>
		<tr> <td> # of Customers who placed bet </td><td>101</td><td>25</td> </tr>
		<tr> <td> % of Customers who placed Bet </td><td>59.1%</td><td>59.5%</td> </tr>
		<tr> <td> Average Net Revenue </td><td>$10</td><td>$91</td> </tr>
	</table>
	<div>
	
	<img src="graphone.jpg" />
	
	</div>
	</div>
    <div style="margin-left: 520px;overflow:auto;"> 
	<table style="overflow:auto;width:100%">
		<tr>
		<th width="50px" style="background-color:gray; color: white;" >CID</th>
		<th width="50px"style="background-color:gray; color: white;" >Net Revenue</th>
		<th width="100px"style="background-color:gray; color: white;" >No of Active Days</th>
		<th width="150px"style="background-color:gray; color: white;" >Number of Sports Bets</th>
		<th width="150px"style="background-color:gray; color: white;" >Casino Turnover amount</th>
		<th width="150px"style="background-color:gray; color: white;" >Sport Turnover amount</th>
		<th width="150px"style="background-color:gray; color: white;" >Number of Deposits</th>
		<th width="150px"style="background-color:gray; color: white;" >Deposit Amount</th>
		</tr>
		<tr><td>297849400</td><td>€ 6</td><td>1</td><td>29</td><td>$0</td><td>$6</td><td>1</td><td>$7</td></tr>
		<tr><td>297849400</td><td>€ 6</td><td>1</td><td>0</td><td>$8</td><td>$0</td><td>1</td><td>$6</td></tr>
		<tr><td>297849400</td><td>€ 6</td><td>1</td><td>14</td><td>$17</td><td>$25</td><td>1</td><td>$4</td></tr>
		<tr><td>297849400</td><td>€ 6</td><td>1</td><td>0</td><td>$25</td><td>$0</td><td>1</td><td>$5</td></tr>
		<tr><td>297849400</td><td>€ 6</td><td>1</td><td>0</td><td>$12</td><td>$0</td><td>1</td><td>$3</td></tr>
		<tr><td>297849400</td><td>€ 6</td><td>1</td><td>0</td><td>$6</td><td>$0</td><td>1</td><td>$4</td></tr>
		<tr><td>297849400</td><td>€ 6</td><td>1</td><td>1</td><td>$8</td><td>$5</td><td>1</td><td>$2</td></tr>
		<tr><td>297849400</td><td>€ 6</td><td>1</td><td>1</td><td>0</td><td>$5</td><td>1</td><td>$3</td></tr>
		<tr><td>297849400</td><td>€ 6</td><td>1</td><td>1</td><td>$9</td><td>$5</td><td>1</td><td>$5</td></tr>
		<tr><td>297849400</td><td>€ 6</td><td>1</td><td>2</td><td>0</td><td>$5</td><td>0</td><td>$5</td></tr>
		<tr><td>297849400</td><td>€ 6</td><td>1</td><td>0</td><td>$39</td><td>$0</td><td>0</td><td>$5</td></tr>
		<tr><td>297849400</td><td>€ 6</td><td>1</td><td>0</td><td>$1</td><td>$0</td><td>0</td><td>$5</td></tr>
		<tr><td>297849400</td><td>€ 6</td><td>1</td><td>0</td><td>$7</td><td>$0</td><td>0</td><td>$1</td></tr>

     </table>

	</div>
</div>
