<div>
<h1 style="color:blue;">Dashboard</h1>
</div>
<div style="height=20px">
<text  style=" font-weight: bold; font-size: 15px;">Most Effective Campaigns</text>
</div>

<div>
<text  style=" font-weight: bold; font-size: 15px; color:blue;">Last 7 days</text>
</div>
<div> &nbsp;</div>
<div width="900px">
 <table width="900px" border="0"> 
	     <tr border="0">		 
         <th style="background-color: #4CAF50;color: white;" width="300px">Target Group</th>
         <th style="background-color: #4CAF50;color: white;" width="200px">Marketing Action</th>
		 <th style="background-color: #4CAF50;color: white;" width="130px">Increase</th>
         <th style="background-color: #4CAF50;color: white;" width="100px">Customers</th>
         <th style="background-color: #4CAF50;color: white;" width="150px">Execution Date</th>
         </tr>
		</table>
  <table width="900px" border="1"> 
		<tr  style="tr:nth-child(even) {background-color: #f2f2f2}" ng-repeat="meCampaigns in mecampaignsList.data">
		 <td width="300px">{{meCampaigns.Target_Group}}</td>
		 <td width="200px">{{meCampaigns.Marketing_Action}}</td>
		 <td width="130px"><img href="" ng-click="campAnalysisPopup(meCampaigns.Marketing_Action)" size="10px" ng-src="assets/img/inc.png" />&nbsp;{{meCampaigns.Increase}}</td>
		 <td width="100px">{{meCampaigns.Customers}}</td>
		 <td width="150px"><date>{{meCampaigns.Execution_Date}}</date></td>
		</tr>
	</table>
</div>


<div> &nbsp;</div>
<div>
<h1 style="color:blue;">KPIs and Trends</h1>
</div>
<div style="height=30px"> &nbsp;</div>

<div style="width: 100%; overflow: hidden;">
    <div style="width: 600px; float: left;">
	   <text  style=" font-weight: bold; font-size: 15px;">Custom KPIs</text>
       <text  style=" font-weight: bold; font-size: 15px; color:green">  </text>

	<p style="margin-top: 20px;margin-bottom: 5px;">&nbsp; </p>
    <p>These KPIs represent the most important customer metrics in your business.
       Green indicates metrics which are above average,red below average and black similar to average</p>
	<p>&nbsp;</p>
	
	<table border="0"> 
	     <tr border="0">		 
         <td width="250px">&nbsp;</th>
         <td style=" text-align:center;">Current Period</th>
		 <td style=" text-align:right;">average of last 13 periods</th>
		 <td>&nbsp;</td>
         </tr>
	 </table>
	 <table border="0">
		<tr  style="tr:nth-child(even) {background-color: #f2f2f2}" ng-repeat="customKPI in customKPIList.data">
		 <td width="270px">{{customKPI.custom_kpi}}</td>
		 <td style="text-align:center">{{customKPI.Current_Period}}</td>
		 <td style="text-align:center">{{customKPI.Average_last_13periods}}</td>
		 <td><a href="" ng-click="trendof13(customKPI.Id)">Trend Report</a></td>
		</tr>
	</table>
	</div>
    <div style="margin-left: 620px;"> <text  style=" text-align:center;font-weight: bold; font-size: 15px;">&nbsp;</text>
	<p style="margin-top: 50px;margin-bottom: 20px;">&nbsp; </p>
	<div id="trendrep">
       <highchart id="kpi_13weeks_trend" config="customKPITrendobj" class="span10"></highchart>
     </div>

	</div>
</div>

<div> &nbsp;</div>
<div> &nbsp;</div>
<div> &nbsp;</div>

<div style="width: 100%; overflow: hidden;">
    <div style="width: 600px; float: left;">
	   <text  style=" font-weight: bold; font-size: 15px;">Model Based KPIs</text>
       <text  style=" font-weight: bold; font-size: 15px; color:green"></text>

	<p style="margin-top: 20px;margin-bottom: 5px;">&nbsp; </p>
    <p>These KPIs are derived from the Chisquare Data Analytics providing insight into the overall state of your customer base.
Arrows indicates the direction of change compared with the previous period. Green indicates that the change is an
improvement, while red indicates worsening</p>
	<p>&nbsp;</p>
	
	<table border="0"> 
	     <tr border="0">		 
         <td >&nbsp;</th>
         <td style=" text-align:center;">&nbsp;</th>
		 <td style=" text-align:right;">&nbsp;</th>
		 <td>&nbsp;</td>
         </tr>
	 </table>
	 <table  border="0">
		<tr style="border-width: 1px;tr:nth-child(even) {background-color: #f2f2f2}" ng-repeat="modelKPI in modelKPIList.data">
		 <td >{{modelKPI.value1}}</td>
		 <td >{{modelKPI.value2}} %</td>
		 <td >{{modelKPI.value3}}</td>
		 <td><a href="" ng-click="modelBasedTrend('model_kpi')">Trend</a></td>
		 
		</tr>
	</table>
	</div>
    <div style="margin-left: 620px;"> <text  style="text-align:center;font-weight: bold; font-size: 15px;">&nbsp;</text>
	<p style="margin-top: 50px;margin-bottom: 20px;">&nbsp; </p>
	<div id="modelBasedTrend">
	<highchart id="modelBasedtrnd" config="modelBasedTrendConfig" class="span10"></highchart>
    </div>
</div>
</div>




<div style="margin-top: 20px;">&nbsp;</div>

<div style="width: 100%; overflow: hidden;">
    <div style="width: 600px; float: left;">
	<text  style=" font-weight: bold; font-size: 15px;">Predicted Future Value Trend</text>
	<p style="margin-top: 20px;margin-bottom: 5px;">&nbsp; </p>
    <p>The total predicted future value is the predicted future value of your current customer base plus the predicted future value of 
	all new customers expected to be aquired during the next 1 year. The future value distribution chart indicates the 
	Contribution of each group (Existing customers and future customers) to the total predicted future value
	</p>
	<p>&nbsp;</p>
	<highchart id="future_prediction_chart" config="futurePredictionChartConfig" class="span10"></highchart>

	
	</div>
    <div style="margin-left: 620px;"> <text  style=" text-align:center;font-weight: bold; font-size: 15px;">Future Value Distribution</text>
	<p style="margin-top: 50px;margin-bottom: 20px;">&nbsp; </p>
	<highchart id="future_prediction_donut_chart" config="futurePredictionDonut" class="span10"></highchart>
   

	</div>
</div>
<div> &nbsp;</div>
<div> &nbsp;</div>
<div> &nbsp;</div>
<div>
<text  style=" font-weight: bold; font-size: 15px;">Live Customers Trend</text>
</div>
<div>
<p >&nbsp;</p>
<p>
These KPIs are derived from the Chisquare Data Analytics providing insight into the overall state of your customer base.<br>
Arrows indicates the direction of change compared with the previous period. Green indicates that the change is an<br>
improvement, while red indicates worsening</p>
</div>


<div> &nbsp;</div>


<div>
<table>
<tr>
<td width="600px"><highchart id="chart_live_customer_trend" config="liveCustomerTrendsChartConfig" class="span10"></highchart> </td>
</tr>
</table>
</div>

