<head>
    <meta charset="utf-8" />
 <!--   <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link href="app-content/app.css" rel="stylesheet" />-->
</head>
<h1 style="color:blue;">CustomerModel</h1>
<div>

<table>
<tr>

<td width="1000px"><p style="padding:10px 10px 0 10px;text-align:justify;"> Customer Model defines the multi-dimensional segmentation layers which comprises of Customer Lifecycle Stages:</p>
<ul style="margin-top:-15px;">
<li>Customer Longevity on the system</li>
<li>customer activity status</li>
<li>customer transactional behavior</li>
<li>customer affinities and preferences</li>
<li>customer quality and Customer value</li>
</ul>
<p style="padding:10px 10px 0 10px;text-align:justify;">Customer model approach provides 360-degree analysis of customer behavior and its impact on value creation. This helps in knowing why to talk,<br /> when to talk, how to talk and what to talk to customers making whole database marketing a live and dynamic process.</p></td>
<td align="top" td width="20%"> <select style="background-color: #f9f9f9;" name="period"
                                    id="period"
                                    ng-model="distribution.period"
                                    ng-options="resource.periodID as resource.periodID for resource in periodList"
									ng-change="updateGraph()"
                                    >
              </select>              
  </td> 
<!--<td width="200px">&nbsp; </td>-->

</tr>

</table>

</div>

<div>
<h1 style="color:blue;">Lifecycle Stages</h1>
<table>
<tr>
<td> <p style="padding:10px 10px 0 10px">Customer Life Cycle Segments shows the complete customer journey from Registration-to-Dormant how the value of customers differs at each level of their lifecycle stages. Customer life segments shows how a customer value peaks at active stage. This view provides a high level understanding of how your database distribution is and what are the future value you can expect from your customer database.</p></td>
<!--<td width="200px">&nbsp; </td>-->

</tr>

</table>
</div>

<div>
<table width="1100px">
<tr> <td width="600px">&nbsp; </td> <td width="500px">&nbsp;</td></tr>
<tr><td width="600px"><highchart id="chart_lifecycle_pie" config="lifeCyclePiechartConfig" class="span10"></highchart> </td>
<td align="right"> <highchart id="chart_lifecycle_bar" config="lifeCycleBarchartConfig" class="span10"></highchart></td>
</tr>
</table>
</div>
<div>
<h1 style="color:blue;">Segmentation Layers</h1>
<table>
<tr>
<td width="100%"> <p style="padding:10px 10px 0 10px"> FalconDive Proprietary segmentation layers provides a deep insight on activity levels of customers,  on their Recency (when they made the last transaction), Latency (average number days between two successive transactions), frequency ( number of transactions in a period) and customer monetary value. Segmentation layer provides an analytical view on how customer migrates from one cluster to other through transition matrix created for customer transactional behavior tracking.<br>
We will get an understanding how current database looks like from activity date of the customer. </p></td>
<td width="200px">&nbsp; </td>
<td>&nbsp; </td> 
</tr>
</table>
<table>
<tr><td width="700px">&nbsp;</td></tr>
<tr><td width="700px"> <button class="button_proto" style="cursor:pointer;" type="submit" ng-click="displyDaysSinceReg()" >Days Since Registration</button>
   <button class="button_proto" style="cursor:pointer;" type="submit" ng-click="displyDaysSinceLast()" >Days Since Last Activity</button>
   <button class="button_proto" style="cursor:pointer;" type="submit" ng-click="displyPlayerActivity()" >Player Activity</button>
   <button class="button_proto" style="cursor:pointer;" type="submit" ng-click="displyProductPreference()" >Product Preference</button>
    
</td> </tr>
<tr><td>&nbsp;</td></tr>
</table>

<div ng-show="showDaysSinceReg">
  <table width="1000px"border="0">
   <tr><td width="600px">&nbsp;</td><td align="right">Customers</td></tr>
  </table>
   
    <table width="1000px" border="1"> 
	     
		<tr ng-repeat="customer in daysSinceRegList.data">
		 <td width="500px">&nbsp;  {{customer.days_since_reg}}</td>
 		 <td width="500px" align="right">&nbsp;{{customer.customers}}</td>

		 </tr>
		 <tr> <td>&nbsp;</td> <td>&nbsp;</td></tr>
		 	 
	</table>
	<table width="1000px">
<tr> <td width="500px">&nbsp; </td> <td width="500px">&nbsp;</td></tr>
<tr><td width="500px"><highchart id="chart_daysSinceReg_pie" config="daysSinceRegPiechartConfig" class="span10"></highchart> </td>
<td width="500px" align="right" > <highchart id="chart_daysSinceReg_bar" config="daysSinceRegBarchartConfig" class="span10"></highchart></td>
</tr>
</table>
 
</div>

<div ng-show="showDaysSinceLastActivity">
  <table border="0">
   <tr><td width="700px">&nbsp;</td><td>Customers</td></tr>
  </table>
   
    <table width="1000px" border="1"> 
	     
		<tr ng-repeat="customer in daysSinceLastActivityList.data">
		<td width="600px">&nbsp;  {{customer.days_since_last_activity}}</td>
 		 <td width="400px">&nbsp;{{customer.customers}}</td>
		 </tr>
		 <tr> <td>&nbsp;</td> <td>&nbsp;</td></tr>
		 	 
	</table>
	<table width="1000px">
      <tr> <td width="400px">&nbsp; </td> <td width="600px">&nbsp;</td></tr>
      <tr><td width="400px"><highchart id="chart_daysSinceLast_pie" config="daysSinceLastPiechartConfig" class="span10"> </td>
           <td width="600px" ><highchart id="chart_daysSinceLast_bar" config="daysSinceLastBarchartConfig" class="span10"></td>
      </tr>
    </table>
 
</div>

<div ng-show="showPlayerActivity">
     <table width="1000px" border="0">
   <tr>
   <td width="300px">&nbsp;</td>
   <td width="200px">Customers</td>
   <td width="250px">Normalized_Wager_Lifetime</td>
   <td width="250px">no_of_active_days_lifetime</td>
   </tr>
  </table>
   
    <table width="1000px" border="1"> 
	     
		<tr ng-repeat="customer in playerActivityList.data">
		<td width="300px">&nbsp;  {{customer.player_activity}}</td>
 		 <td width="200px">&nbsp;{{customer.Customers}}</td>
		  <td width="250px">&nbsp;{{customer.Normalized_Wager_Lifetime}}</td>
		   <td width="250px">&nbsp;{{customer.no_of_active_days_lifetime}}</td>
		 </tr>
		 <tr> &nbsp;</tr>
		 <tr> <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td></tr>
				 
	</table>
	<table width="1000px" border="0">
      <tr> <td width="500px">&nbsp; </td> <td width="500px">&nbsp;</td></tr>
      <tr><td width="500px"><highchart id="chart_playerActivity_pie" config="playerActivityPiechartConfig" class="span10"></highchart></td>
           <td width="500px" align="right"> <highchart id="chart_playerActivity_bar" config="playerActivityBarchartConfig" class="span10"></highchart></td>
      </tr>
    </table>
 
</div>

<div ng-show="showProductRefs">
     <table width="1000px" border="0">
   <tr>
   <td width="200px">&nbsp;</td>
   <td width="200px">Customers</td>
   <td width="300px">Percentage of Casino Normalized Wager,Lifetime </td>
   <td width="300px">Percentage of Sports Normalized Wager,Lifetime </td>
   </tr>
  </table>
   
    <table width="100px" border="1"> 
	     
		<tr ng-repeat="customer in productReferenceList.data">
		<td width="200px">&nbsp;  {{customer.Activity_type}}</td>
 		 <td width="200px">&nbsp;{{customer.Customers}}</td>
		  <td width="300px">&nbsp;{{customer.Percent_of_Casino_Normalized_Wager_Lifetime}}</td>
		   <td width="300px">&nbsp;{{customer.Percent_of_Sport_Normalized_Wager_Lifetime}}</td>
		 </tr>
		 <tr> &nbsp;</tr>
		  <tr> <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td></tr>
				 
	</table>
	<table width="1000px" border="0">
      <tr> <td width="500px">&nbsp; </td> <td width="500px">&nbsp;</td></tr>
      <tr><td width="500px"><highchart id="chart_productReference_pie" config="productReferencePiechartConfig" class="span10"></highchart></td>
           <td width="500px" align="right"> <highchart id="chart_productReference_bar" config="productReferenceBarchartConfig" class="span10"></highchart></td>
      </tr>
    </table>
 
</div>

<div>
<h1 style="color:blue;">Customer Barcode Segments </h1>
<table width="1000px">
<tr>
<td width="600px"><p style="padding:10px 10px 0 10px;text-align:justify;"> Customer Barcode is a proprietary model which is a unique persona defined to each customer in the system. <br />
 Each customer will carry a Bar-code which contains a string of 18 attributes which contains:
 <ul style="margin-top:-10px;">
 <li>Customer Demographics (Age Group, Gender, Market, Source of Traffic)</li>
 <li>Customer First Touch (Channel, Deposit option, Platform, Store, Product, Sub product, Game Type, Game Variant)</li>
 <li>Customer Info (Lifecycle Stages, Customer Age)</li>
 <li>Customer Preferences (Preferred Channel, Platform, Product, Sub Product, Opportunity)</li>
 <li>Customer transactional Behavior ( RFM, Customer Quality)</li>
 </ul>
 </p></td>

<td align="top" td width="100px"> 
<div class="well" ng-dropdown-multiselect="" 
       options="lifeCycleStagedata" 
	   selected-model="lifeCycleStageModel" 
	   checkboxes="true" 
	   extra-settings="lifeCycleStageSettings" 
	   translation-texts="lifeCycleStageTexts"
	   events="microSegEvents"></div>
  </td>
</tr>
<tr>&nbsp;</tr>
</table>
 <table width="1000px" border="0"> 
	     <tr>
         <th style="background-color: #4CAF50;color: white;" width="100px">Micro Segment</th>
         <th style="background-color: #4CAF50;color: white;" width="150px">Lifecycle Stage</th>
         <th style="background-color: #4CAF50;color: white;" width="200px">Micro segment DNA</th>
         <th style="background-color: #4CAF50;color: white;" width="100px">Customers</th>
         <th style="background-color: #4CAF50;color: white;" width="100px">Past Value</th>
         <th style="background-color: #4CAF50;color: white;" width="75px">Future Value</th>
         <th style="background-color: #4CAF50;color: white;" width="75px">Conversion Rate</th>
         <th style="background-color: #4CAF50;color: white;" width="100px">Chaurn Rate</th>
         <th style="background-color: #4CAF50;color: white;" width="100px">Reactivation Rate</th>

        </tr>
		</table>
		<table width="1000px" border="1"> 
		<tr ng-repeat="mircrosegment in microSegmentList.data">
		 <td width="100px">{{mircrosegment.microsegment}}</td>
 		 <td width="150px">{{mircrosegment.life_cycle_stages}}</td>
		 <td width="200px">{{mircrosegment.microsegment_dna}}</td>
		 <td width="100px">{{mircrosegment.customers}}</td>
		 <td width="100px">{{mircrosegment.past_value}}</td>
		 <td width="75px">{{mircrosegment.future_value}}</td>
		 <td width="75px">{{mircrosegment.conversion_rate}}</td>
		 <td width="100px">{{mircrosegment.churn_rate}}</td>
		 <td width="100px">{{mircrosegment.reactivation_rate}}</td>

		 </tr>
	</table>


</div>

<div>
<h1 style="color:blue;">Value Segments</h1>
<table width="900px">
<tr>
<td width="100%"><p style="padding:10px 10px 0 10px"> Customer Value segments are created to decide the size and level of investment which can be made for a customer to remain active.<br> Value segments drives the estimates of overall reinvestment rate for a customer. This also helps in defining the service levels required for customer satisfaction.</p></td>
<td width="300px">&nbsp; </td>
</tr>
<tr>&nbsp;</tr>
</table>
 <table width="1000px" border="0"> 
	     <tr border="0">		 
         <th style="background-color: #4CAF50;color: white;" width="100px">&nbsp;</th>
         <th style="background-color: #4CAF50;color: white;" width="150px">Micro Segment</th>
         <th style="background-color: #4CAF50;color: white;" width="100px">Customers</th>
         <th style="background-color: #4CAF50;color: white;" width="100px">Avg. Future Value</th>
         <th style="background-color: #4CAF50;color: white;" width="150px">Future value Range</th>
         <th style="background-color: #4CAF50;color: white;" width="300px">&nbsp;</th>
         </tr>
		</table>
  <table width="1000px" border="1"> 
		<tr  style="tr:nth-child(even) {background-color: #f2f2f2}" ng-repeat="valuesegment in valueSegmentList.data">
		 <td width="100px">{{valuesegment.life_cycle_stages}}</td>
		 <td width="150px">{{valuesegment.micro_segments}}</td>
		 <td width="100px">{{valuesegment.customers}}</td>
		 <td width="100px">{{valuesegment.avg_future_value}}</td>
		 <td width="150px">{{valuesegment.future_value_range}}</td>
		 <td width="300px">{{valuesegment.Description}}</td>
		</tr>
	</table>


</div>



</div>